@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

body {
    font-family: "Ropa Sans"; 
    background-color: #F4F0DD; 
}

.side-panel {
    width: 100px;
    height: 675px;
    background-color:#ECEBEB;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px black solid;
    flex-direction: column;
    position: fixed; 
}

#icon-image{
    width:85px;
    height:85px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.side-panel-btn-icon{
    width: 40px;
    height: 40px;
    padding: 10px;
}

.side-panel-btn{
    margin-bottom: 5px;
    background-color: #FCB92F;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.side-panel-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom:   5px solid transparent;
    margin-bottom: 10px;
}

.side-panel-btn-container:hover{
    border-bottom: gray solid 5px;
}

#selected-btn{
    border-bottom:   5px solid black;
}

.btn-panel{
    padding-bottom: 40px;
}
